services:
  backend:
    build: ./server
    container_name: sweetshop-backend
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
    depends_on:
      - mongo
    volumes:
        - ./server:/app
        - /app/node_modules
    command: npm run dev

  mongo:
    image: mongo:7
    container_name: sweetshop-mongo
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
